label{
    display: block;
    color: rgb(0, 0, 0);
}


input[type="text"], 
input[type="password"], 
input[type="time"], 
input[type="date"]{
    width: 300px;

    margin: 7px;
}
form{
    width: 450px;
    padding: 20px;
    border: 2px dashed rgb(145, 195, 253);
    background-color: rgb(43, 57, 133);
}
label[for="checkbox"]{
    display: inline;

}
